*{
    margin: 0;
    padding: 0;
}

    list-style-type: none;
    margin: 2vw 0;
    
    font-size: 3vh;
  }
  
  nav ul li a{
    text-decoration: none;
    color: black;
    font-family: monospace;
    padding: 2vw;
  }
  
  nav{
    width: 100%;
    background-color: #D6EFFF;
    overflow-x:hidden ;
  }
  
  nav ul{
    display: block;
    margin: 0;
    padding: 0;
    
    display: flex;  
  }
  /* button{
    display: none;
  } */
  
  a:hover{
    background-color: #C6E9FF;
  }
  

  @media only screen and (max-width: 500px) {
    ul{
      flex-direction: column;
    }
    
    a{
      display: block;
    }
    
    li{
      margin: 0;
    }
    
    button{
      display: block;
      
      padding: 2vw;
      font-size: 3vh;
      background-color: #AFE0FF;
      border: none;
      outline: none;
      cursor: pointer;
      
      align-self: flex-start;
    }
  }

.left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index{
  padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(136, 100, 162);
    margin: 40px auto;

  
  /* navbar css ends  */
/* main  */
.index{
    width: 90%;
    height: 440px;
    background-color: indigo;

    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin: 45px auto;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-around;
}

.index .webLayouts{
  text-align: justify;
}

.index .Components{
  text-align: justify;
}

.webLayouts, .Components{
    width:40%;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardLinks{
    font-size: 25px;
    text-decoration: none;
    align-items: bottom;
    display: flex;  
}

=======

/* footer  */

footer{
    padding-top: 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(61, 170, 61) ;
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: fixed;
    left: 0%;
    bottom: 0%;
}

body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #AFE0FF;
  padding: 20px;
  text-align: right;
}

.topnav a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  float: left;
  background-color: #a4d6f5;
  color: rgb(0, 0, 0);
  align-items: flex-start;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.dropdown-content a:hover {
  background-color: #AFE0FF;
  color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.card:hover{
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}

.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}

.card .bottom-text .btn{
  margin: 0px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #696160;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: block;
  height: 20px;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 200px;
    margin: 10px 0;
  }
}
=======

@media only screen and (max-width: 500px) {
  nav ul{
    flex-direction: column;
  }
  
  nav a{
    display: block;
  }
  
  nav li{
    margin: 0;
  }
}

